body{
  text-align: center;
}
.box{
  height: 20vw;
  width: 20vw;
  background-color: aqua;
  border-radius: 20%;
  border: 5px solid black;
  margin: 1rem;

}
.btn-container{
  display: flex;
  justify-content: center;
}
.yellow{
  background-color:#f99b45;
}
.red{
  background-color:#d95980;
}.purple{
  background-color:#819ff9;
}.green{
  background-color:#63aac0;
}
.flash{
  background-color: #fff;
}